@import 'tailwindcss';

/* Debug backgrounds when .debug class is on canvas */
.debug {
  .calendar-wrapper {
    @apply !bg-red-600;

    .fc-header-toolbar {
      @apply !bg-purple-600;
    }

    .fc-col-header {
      @apply !bg-yellow-400;
    }

    .fc-col-header-cell {
      @apply !bg-yellow-400;
    }

    .fc-daygrid-body {
      @apply !bg-green-500;
    }
  }
}

/* FullCalendar custom styles using Tailwind CSS variables  */
.fc {
  --fc-border-color: var(--color-slate-700);

  --fc-button-bg-color: var(--color-blue-600);
  --fc-button-border-color: var(--color-blue-600);
  --fc-button-hover-bg-color: var(--color-blue-700);
  --fc-button-hover-border-color: var(--color-blue-700);
  --fc-button-active-bg-color: var(--color-blue-800);
  --fc-button-active-border-color: var(--color-blue-800);

  --fc-today-bg-color: var(--color-blue-900);

  .fc-toolbar.fc-header-toolbar {
    @apply mb-2;
    @apply md:mb-4;

    .fc-button {
      @apply px-2 py-1;
      @apply md:px-4 md:py-2;
      @apply font-medium;
      @apply capitalize;
    }
    .fc-toolbar-title {
      @apply text-lg;
      @apply md:text-3xl;
      @apply font-semibold;
    }
  }

  .fc-view-harness {
    @apply mx-auto;
    .fc-daygrid {
      /* Grid ()*/
      table.fc-scrollgrid {
        tbody {
          /* Header */
          tr.fc-scrollgrid-section-header {
            .fc-col-header-cell {
              @apply py-4;
              @apply bg-slate-900;
              @apply text-slate-400;
              @apply font-semibold;
              @apply text-xs;
              @apply uppercase;
            }
          }
          /* Days */
          tr.fc-scrollgrid-section-body {
            .fc-daygrid-day {
              &.fc-day-past {
                @apply bg-slate-900;
                @apply opacity-50;
                .fc-daygrid-day-number {
                  @apply opacity-60;
                }
              }
              &:hover {
                @apply bg-slate-700;
              }
              /* Day number, when there is an event */
              &:has(.fc-event) .fc-daygrid-day-number {
                @apply hidden;
                /* @apply absolute top-0 z-10; */
                /* right: -1px; */
                /* @apply bg-slate-900/80; */
                /* @apply px-2 py-1; */
                /* backdrop-filter: blur(8px); */
              }
              .fc-daygrid-day-frame {
                .fc-daygrid-day-events {
                  @apply absolute inset-0 m-0;
                  .fc-daygrid-event-harness {
                    @apply absolute inset-0 m-0;
                    .fc-event {
                      @apply absolute inset-0 m-0;
                      @apply bg-transparent;
                      @apply border-none;
                      @apply cursor-pointer;
                      @apply transition-transform duration-200 ease-in-out;

                      &:hover {
                        @apply z-10 scale-120;
                      }

                      .fc-event-main {
                        @apply absolute inset-0 m-0;
                      }

                      .event-title {
                        @apply absolute right-0 bottom-0 left-0;
                        @apply -mx-3 -mb-3;
                        @apply hidden md:block;
                        @apply whitespace-pre-line;
                        @apply bg-slate-900/80;
                        @apply px-5 py-2 pb-5;
                        @apply text-xs text-white;
                        backdrop-filter: blur(8px);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
